@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');

html, body {
  width: inherit;
  height: inherit;
  font-family: Lato, Oxygen, sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: #fdf5f3;
}

.container {
  display: flex;
  flex-direction: row;
  padding: 100px;
  gap: 5%;
}

.nav-container {
  flex: 1;
  padding-top: 10%;
  justify-items: flex-end;
}

.main-container {
  flex: 4;
}