.main {
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 40px;
    width: 50vw;
    padding-bottom: 100px;
    line-height: 1.5;
    font-style: italic;
    font-weight: 700;
}

.projects {
    display: grid;
    grid-template-columns: auto auto;
    width: fit-content;
    background-color: #fae1dd;
    padding: 50px;
    grid-column-gap: 30px;
}

.project-container {
    display: flex;
    flex-direction: row;
}

.project-container:nth-child(even) {
    margin-top: 50px;
}