.nav {
  display: flex;
  flex-direction: column;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #ff836d !important;
  text-decoration: underline !important;
}

.nav a {
  padding-bottom: 20px;
}

.link {
  margin-bottom: 15px;
}

.link:last-child {
  margin-bottom: 0px;
}

.hamburger {
  display: none; /* Hide by default on larger screens */
  flex-direction: column;
  cursor: pointer;
}

.hamburger-line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 4px 0;
  transition: all 0.3s ease;
}

/* Hamburger Icon Animation */
.hamburger-line.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger-line.open:nth-child(2) {
  opacity: 0;
}

.hamburger-line.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Show hamburger icon on smaller screens */
  }

  .nav {
    display: none; /* Hide nav links by default on smaller screens */
  }

  .nav.open {
    display: flex; /* Show nav links when menu is open */
    flex-direction: column;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}