.nav {
    display: flex;
    flex-direction: column;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ff836d !important;
    text-decoration: underline !important;
}

.nav a {
    padding-bottom: 20px;
}

.link {
    margin-bottom: 15px;
}

.link:last-child {
    margin-bottom: 0px;
}